//navbigation//

.main-nav .nav-link {
  color: white;
}

.main-card {
  background-image: url(../images/background.png);
  border: none;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 800px;
}

.main-card .card-header {
  border: none;
}

.main-card-body {
  color: white;
  padding: 130px;
}

.main-btn {
  background-color: rgb(201, 161, 87);
  padding: 10px 30px;
  border-radius: 0;
  font-weight: bold;
  border-color: rgb(201, 161, 87);
}

.main-card-body .card-text {
  font-family: sans-serif;
  font-size: 74px;
  font-weight: bold;
}

.main-card-body .card-title {
  font-size: 38px;
  font-style: italic;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

//services//

.card-services {
  font-weight: 700;
}

.card-text-services {
  font-style: italic;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.fa-basket-shopping,
.fa-laptop-code,
.fa-lock {
  text-align: center;
  color: orange;
  font-size: 30px;
  background: white;
  width: 60px;
  line-height: 60px;
  height: 60px;
  border-radius: 50%;
  border-color: orange;
  border: 3px solid;
}
.card-title-services {
  font-size: 20px;
  margin-top: 25px;
  margin-bottom: 15px;
  font-weight: bold;
}

//portfolio//

.portfolio {
  background-color: #f7f7f7;
}

.card-body-portfolio p {
  font-style: italic;
}

.card-body-portfolio h5 {
  font-weight: 700;
}

//footer//

.media ul {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin: 20px 0 0 0;
}
.media li {
  font-size: 0;
  margin: 0 16px 0 0;
  float: left;
}

.media li i {
  color: white;
  font-size: 20px;
  background: black;
  width: 40px;
  line-height: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.media li:hover i {
  transform: scale(1.2);
}

//media//

@media (max-width: 767px) {
  .main-card {
    height: fit-content;
  }
  .main-card .nav-link {
    font-size: 10px;
  }
  .main-card-body {
    padding: 0px;
  }
  .main-card-body .card-title {
    font-size: 25px;
    padding: 0px;
    overflow-wrap: break-word;
  }
  .main-card-body .card-text {
    font-size: 25px;
    padding: 0px;
    margin: 20px;
  }
  .main-btn {
    font-size: 15px;
    margin-top: 20px;
    padding: 5px 15px;
  }
}
